/* Stage- Bootstrap one page Event ticket booking theme 
Created by pixpalette.com - online design magazine */

@charset "utf-8";
/* CSS Document */
html, body {
    font-size: 14px;
    font-weight: 400;
}

.logo img {
	max-width: 30%;
}

/* common style's */
a {
  color: #7447ae;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 24px; 
}

/* button style */
.btn, .btn.disabled {
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

.btn:hover {
	color: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.btn-xs {
	padding: 5px 15px;
    font-size: 1em;
    margin: 5px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .5;
}

/* form style */
label {
    font-weight: 400;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 40px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding: 6px 0px;
    box-shadow: none;
	font-weight: 100;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.form-control:focus {
    border-color: #666666;
    outline: 0;
    box-shadow: none;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


/* loader */
.loader{
    position: fixed;
    color: white;
    background: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader > div {
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left-wrapper, .right-wrapper{
    padding-right: 0px;
    padding-left: 0px;
}

.right-wrapper{
    margin-bottom: 100px;
}

hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    display: inline-block;
    width: 100%;
}

/* event banner css */
.event-banner-wrapper {
	position: fixed;
    width: 41.66666667%;
    height: 100%;	
    padding: 20px;
}

.logo h1 {
    font-family: 'Nixie One', sans-serif;
    position: absolute;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    top: 20px;
    left: 20px;
	width: 90%;
}

.event-banner-wrapper .hh {
    position: absolute;
    margin: 0;
    bottom: 30px;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.event-banner-wrapper h2 {
    font-weight: 900;
	font-size: 4vw;
	line-height: 4.5vw;
}

.event-banner-wrapper h3 {
    font-weight: 900;
    display: block;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.event-banner-wrapper p {
    position: absolute;
    font-family: 'Nixie One', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    bottom: 15px;
}

.event-banner-wrapper p a {
	color: #fff;
}

.event-banner-wrapper p a:hover {
	border-bottom: 1px solid #fff;
}

/* event ticket css */
.event-ticket-wrapper{	
    padding: 40px;
}

.event-tab .nav-tabs {
	position: fixed;
	top: 0;
	left: 41.66666667%;
	width: 58.33333333%;
	border-bottom: 0px solid #ccc;
    padding: 20px 40px;
	margin-bottom: 30px;
    z-index: 99;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.event-tab .nav-tabs > li > a {
    font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.event-tab .nav-tabs > li.active > a,
.event-tab .nav-tabs > li.active > a:hover, 
.event-tab .nav-tabs > li.active > a:focus,
.event-tab .nav-tabs > li > a:hover, 
.event-tab .nav-tabs > li > a:focus {
	background: transparent;
    color: #000000;
    border: 1px solid transparent;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.event-tab .tab-content {
    margin-top: 45px;
}

.event-tab .tab-content .tab-pane {
    margin-bottom: 30px;
}

.ticketBox {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ticketBox:hover {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.inActiveTicket .inactiveStatus {
    background: rgba(248, 248, 248, 0.68);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ticketBox .ticket-name span {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.ticketBox .ticket-price-count-box .price {
	margin: 0;
    color: #000000;
    font-weight: 600;
    float: right;
    width: 100%;
    text-align: right;
}
 
.ticketBox .ticket-price-count-box .ticket-control {
	float: right;
    width: 120px;
}

.ticketBox .ticket-price-count-box .ticket-control .form-control {
	width: 50px;
    font-weight: 600;
    text-align: center;
    border: 0;
    box-shadow: none;
    display: inline-block;
    pointer-events: none;
    font-size: 20px;
    margin: 0px 4px;
    background: transparent;
}

.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button {
    display: inline-block;
    border: 0px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: #000000;
    font-size: 9px;
    background: rgba(0, 0, 0, 0.09);
	box-shadow: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button:hover,
.ticketBox .ticket-price-count-box .ticket-control .input-group .input-group-btn button:focus {
	outline: none;
	background: rgba(0, 0, 0, 0.15);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ticketBox .ticket-description {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    padding-top: 15px;
}

.ticketBox .ticket-description p {
	font-size: 14px;
    font-weight: 400;
    color: #666;
}

.ticketBox .ticket-description p strong {
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

/* map iframe */
iframe {
	width: 100%;
	border: 0;
}

/* cart style */
.cart {
    padding: 20px 40px;
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    left: 41.66666667%;
    bottom: 0;
    width: 58.33333333%;
    z-index: 99;
	-webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px -2px 0px rgba(0,0,0,0.2);
}

.cart p {
	color: #000;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

.cart p .divider {
    border-right: 2px solid #ccc;
    padding-left: 15px;
    margin-right: 15px;
}

/* cart ticket details */
.cart-information {
	margin-bottom: 30px;
    color: #000;
}

.cart-information .ticket-type {
	font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.cart-information .ticket-type span {
    font-size: 14px;
    line-height: 18px;
    display: block;
    font-weight: 400;
    color: #666;
}

.cart-information ul {
	margin: 0;
	padding: 0;
}

.cart-information ul li {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 4px;
}

.cart-information ul li span {
    float: right;
}

.cart-information ul li span.totalAmount {
    font-weight: 600;
}

.cart-information hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* contact form style */
.contactForm h3 {
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.contactForm .btn {
	width: 100%;
}

/* side modal style */
.modal-content {
    border-radius: 0;
}

.modal-body {
    padding: 0;
}

.modal-header {
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    text-transform: uppercase;
}

.modal .close {
    opacity: 0.4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.modal .close:hover {
    opacity: 0.4;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 350px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
		border: 0;
	}
	
	.modal.right .modal-body {
		padding: 30px;
	}
    
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

#mapiframe {
	width: 100%;
	height: 550px;
	border:1px solid #ddd;
}

#contatos {
    margin-right: -20px;
    margin-left: -20px;
}

.block-edit {
	border: 1px solid #fff;
}

.block-edit-control {
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
	bottom: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
	background-color:rgba(0,0,0,0);
}

.btn-edit {
	padding: 5px 10px !important;
}

.edit-this {
	display:initial;
	cursor:pointer;
	position:relative;
}

	.preco-por {
		font-size: 2em;
		font-weight:700;
		margin-bottom:10px;
	}
	.preco-por-valor {
		font-size: 52px;
		font-weight:700;
	}
	.preco-de {
		font-size: 14px;
		font-weight:400;
		margin-bottom:10px;
		color: #ff0000;
	}
	.preco-de-valor {
		font-size: 16px;
		font-weight:700;
	}
	.preco-parcela {
		display: inline-block;
	    font-size: 1.6em;
	    font-weight: bold;
/*	    color: #000;*/
	}
	.preco-avista {
		display: inline-block;
	    font-size: 0.6em;
	    color: #666;
	}


/* media query for tab */
@media (max-width: 767px) {
	.event-banner-wrapper {
		position: relative;
		width: 100%;
		height: 300px;
		padding: 15px;
	}
	
	.event-banner-wrapper h2 {
		font-size: 38px;
		line-height: 38px;
	}
	
	.event-banner-wrapper h3 {
		font-size: 16px;
	}
	
	.event-ticket-wrapper {
		padding: 0px;
	}
	
	.event-tab .nav-tabs {
		margin-bottom: 10px;
		position: relative;
		top: 0;
		left: 0;
	/*    padding: 0;*/
		width: 100%;
	}
	
	.event-tab .tab-content {
		margin-top: 20px;
	}
	
	.cart {
		padding: 15px;
		background: #fff;
		margin-bottom: 0;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 99;
	}
	.ofertas {
		margin-top: -30px;
	}
	
}

/* media query for Mobile */
@media (max-width: 480px) {

.modal.left .modal-dialog, .modal.right .modal-dialog {
    width: 100%;
}

.event-tab .nav-tabs > li > a {
    font-size: 16px;
/*    margin-right: 0;*/
    padding: 2px 0px;
}

.event-tab .nav-tabs > li {
/*    width: 100%;*/
}

.cart p {
    font-size: 16px;
	margin: 0;
}

.cart p .divider {
    border-right: 0px;
    padding-left: 0;
    margin-right: 0;
    display: block;
}

.event-tab .tab-content .tab-pane {
	margin-bottom: 60px;
    padding: 0px 30px;
}

.event-tab .tab-content {
    margin-top: 0;
}

}

.btn-fab-micro {
    height: 32px !important;
    min-width: 32px !important;
/*    width: 32px !important;*/
	padding: 6px 12px;
}

.btn-whatsapp {
    background-color: #25D366;
    color: #FFFFFF;
    font-size: 1em !important;
	margin-top: -9px;
}

.btn-whatsapp i {
    background-color: #25D366;
    color: #FFFFFF;
    font-size: 1.2em !important;
}

/* col-1 */
.oferta-col-1-m-01 {
  padding:10px 35px 10px 10px;
  margin-top:10px;
  display: flex;
  background-color:#fff !important;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
/*  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;*/
  min-height: 180px;
}
.oferta-col-1-m-01 .imagem {
  float:left;
  margin-right:20px;
  position: relative;
}
.oferta-col-1-m-01 .imagem img {
  width:200px;
}
.oferta-col-1-m-01 .preco {
  font-size:16px;
  display:inline-block;
  margin-right:20px;
}
.oferta-col-1-m-01 .preco-de {
  display:inline-block;
  text-decoration: line-through;
  font-weight:400;
  margin-right: 10px;
}
.oferta-col-1-m-01 .preco-por {
  display:inline-block;
}
.oferta-col-1-m-01 .preco-por-int {
  display:inline-block;
  font-weight:700;
  font-size:250%;
  line-height: 1em;
}
.oferta-col-1-m-01 .preco-por-pre {
  display:inline-block;
  font-weight:700;
  font-size:130%;
}
.oferta-col-1-m-01 .preco-por-pos {
  display:inline-block;
  font-weight:700;
  font-size:130%;
}
.oferta-col-1-m-01 .desconto {
  font-size:15px;
  display:inline-block;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 3px;
  white-space:nowrap;
  margin-top:5px;
}
.oferta-col-1-m-01 .desconto-valor {
  display:inline-block;
  color:#3C4858;
  font-weight:400;
}
.oferta-col-1-m-01 .titulo h2 {
  margin:0px;
  font-weight:500;
  font-size:28px;
  line-height:1.1em;
  margin-bottom:15px;
}
.oferta-col-1-m-01 .descricao h4 {
  margin: 0px;
  font-weight:400;
  margin-bottom:15px;
  font-size:18px;
  line-height: 1.2em;
}
.oferta-col-1-m-01 .rodape-oferta {
  margin-top:10px;
}
.oferta-col-1-m-01 .botao-oferta {
  display:block;
  float:right;
  margin-bottom:20px;
}
.conteudo-oferta {
  width: 100%;
  margin-top: 15px;
}

@media only screen and (max-width: 769px) {
  .oferta-col-1-m-01 {
	padding:10px;
    display: flow-root;
  }
  .oferta-col-1-m-01 .parcela-texto {
	display:none;
  }
  .oferta-col-1-m-01 .estoque-texto {
	display:none;
  }
  .oferta-col-1-m-01 .frete-texto {
	display:none;
  }
  .oferta-col-1-m-01 .validade-texto {
	display:none;
  }
  .oferta-col-1-m-01 .agendar-texto {
	display:none;
  }
  .oferta-col-1-m-01 .pessoa-texto {
	display:none;
  }
  .oferta-col-1-m-01 .titulo h2 {
	font-size:26px;
  }
  .oferta-col-1-m-01 .descricao h4 {
	display: none;
  }
  .oferta-col-1-m-01 .botao-oferta {
/*	display: flex;
	float:inherit;*/
  }
  .oferta-col-1-m-01 .preco-por {
	display: inline-block;
	color: #000;
	font-weight: 700;
/*	font-size: 2em;
	line-height: 1em;*/
  }
  .btn.btn-xl {
	font-size: 14px;
	padding: 8px 22px;
  }
  .oferta-col-1-m-01 .imagem img {
	  width: 100%;
  }
  .oferta-col-1-m-01 .imagem {
	float: none;
	margin-right: 0px;
	position: relative;
	width: 100%;
  }
  .logo img {
	  max-width: 55%;
  }
}
@media only screen and (max-width: 426px) {
  .oferta-col-1-m-01 {
	padding:10px;
	margin-top:40px;
  }
  .oferta-col-1-m-01 .imagem img {
	width:100%;
  }
  .oferta-col-1-m-01 .titulo h2 {
	font-size:22px;
  }
/*  .oferta-col-1-m-01 .botao-oferta {
	display:block;
	float:none;
	text-align:center;
  }*/
  .oferta-col-1-m-01 .regras-oferta {
	padding-top: 10px;
  }
  .oferta-col-1-m-01 .seguranca {
	border: 0px;
  }
  .oferta-col-1-m-01 {
	display: flow-root;
  }
  .conteudo-oferta {
	width: 100%;
	margin-top: 15px;
  }
  .logo img {
	  max-width: 70%;
  }
}

@media only screen and (max-width: 321px) {
  .logo img {
	  max-width: 100%;
  }
  .event-tab .nav-tabs {
	  padding: 15px;
  }
}

